In [18]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [2]:
os.getcwd()

'c:\\Users\\ALTEM-SERVER\\Desktop\\Dekstop\\New folder\\I Neuron\\Projects\\Machine-Learning-Project-1\\Machine-Learning-Project-1\\notebook'

In [3]:
os.chdir("c:\\Users\\ALTEM-SERVER\\Desktop\\Dekstop\\New folder\\I Neuron\\Projects\\Machine-Learning-Project-1\\Data")

In [4]:
df= pd.read_csv("housing.csv")

In [5]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [6]:
TB_mean = df['total_bedrooms'].mean()
df['total_bedrooms'].fillna(TB_mean, inplace=True)

In [7]:
y= df['median_house_value']

In [8]:
y.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [9]:
X= df

In [10]:
X.shape

(20640, 10)

In [11]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [12]:
X_train,X_test, y_train,y_test= train_test_split(X,y, test_size=0.20)

In [13]:
X_train.shape

(16512, 10)

In [14]:
X_test.shape

(4128, 10)

In [15]:
LinearRegressor= LinearRegression()

In [16]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [17]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [20]:
X_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16944,-122.32,37.55,46.0,1437.0,266.000000,607.0,263.0,4.8068,369700.0,NEAR OCEAN
10226,-117.88,33.87,35.0,1919.0,349.000000,1302.0,345.0,5.6409,190900.0,<1H OCEAN
4629,-118.30,34.07,18.0,3759.0,537.870553,3296.0,1462.0,2.2708,175000.0,<1H OCEAN
3392,-118.31,34.28,34.0,3258.0,610.000000,1810.0,633.0,5.1145,219900.0,<1H OCEAN
9298,-122.56,38.03,34.0,1887.0,290.000000,815.0,283.0,6.5249,324800.0,NEAR BAY

In [33]:
numerial_feature= X_train.iloc[:,:-1]
numerial_feature.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16944,-122.32,37.55,46.0,1437.0,266.000000,607.0,263.0,4.8068,369700.0
10226,-117.88,33.87,35.0,1919.0,349.000000,1302.0,345.0,5.6409,190900.0
4629,-118.30,34.07,18.0,3759.0,537.870553,3296.0,1462.0,2.2708,175000.0
3392,-118.31,34.28,34.0,3258.0,610.000000,1810.0,633.0,5.1145,219900.0
9298,-122.56,38.03,34.0,1887.0,290.000000,815.0,283.0,6.5249,324800.0

In [22]:
Categorical_features= X_train.iloc[:,-1]

In [24]:
Categorical_features.unique()

array(['NEAR OCEAN', '<1H OCEAN', 'NEAR BAY', 'INLAND', 'ISLAND'],
      dtype=object)

In [28]:
stander_scaler= StandardScaler

In [39]:
stander_scaler.fit_transform(numerial_feature, with_mean=True)

TypeError: fit_transform() missing 1 required positional argument: 'self'